/* * {
  margin: 0;
  padding: 0;
  background: white;
} */

body {
    height: 85vh;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
}
/*
ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
}

li {
    height: 100px;
    width: 200px;
    list-style: none;
    margin: 10px;
}

li.active {
    background: red;
    color: white;
}

li:not(.active):hover{
    cursor: pointer;
    color: red;
} */

.fireworks {
    position: absolute;
    height: auto;
}

.message__block {
    position: absolute;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 30vh;
    width: 50vw;
    text-align: center;
}

#greeting__image {
    height: 265px;
    width: 245px;
}

.hidden {
   /* visibility:hidden; */
   display: none;
}

#screenText {
    display: block;
    font-size: 50px;
    margin: 0 5px 0 5px;
    text-align: center;
    color: blue;
    cursor: pointer;
}

@media only screen and (max-width: 768px)  {

    .fireworks {
        position: absolute;
        height: auto;
        max-width: 350px;
        margin-top: 25vh;
    }

    .message__block {
        /* margin-left: 50vw; */
        /* margin-right: 5vw; */
        margin-left: auto;
        margin-top: 15vh;
        width: 100vw;
        /* max-width: 350px; */
    }

    #screenText {
        font-size: 40px;
        line-height: 65px;
    }

}